---
import Navigation from '../components/widgets/nav/Navigation.astro';
import Footer from '../components/widgets/footer/Footer.astro';
import { socialLink } from '../../config/links/social';
import { SEO } from 'astro-seo';
import { config } from '../../config/config';
import ThemeIcon from '../components/ThemeIcon.astro';
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	width?: 'full';
}

const { title, width } = Astro.props as Props;
const currentPath = Astro.url.pathname;

import '../assets/styles/normalize/normalize.css';
import '../assets/styles/index.scss';
import '../assets/styles/tailwind.css';
---

<!doctype html>
<html lang="ru" class="motion-safe:scroll-smooth">
	<head>
		<SEO
			charset="utf8"
			title={title || config.meta.title}
			description={config.meta.description}
			openGraph={{
				basic: {
					image: config.meta.image,
					title: title || config.meta.title,
					type: 'website',
					url: Astro.url,
				},
			}}
			extend={{
				link: [{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' }],
				meta: [
					{
						name: 'viewport',
						content: 'width=device-width, initial-scale=1.0',
					},
					{
						name: 'keywords',
						content: config.meta.keywords,
					},
				],
			}}
		/>

		<link
			rel="preload"
			href="/fonts/Montserrat-Light.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Montserrat-Light.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Montserrat-Regular.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Montserrat-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-ExtraBold.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-ExtraBold.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-Regular.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-Thin.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>

		<link
			rel="preload"
			href="/fonts/Muller-Trial-Thin.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>

	<body
		class="font-muller dark:bg-secondary text-secondary bg-white text-lg font-medium dark:text-white"
	>
		<header class="sticky top-0 z-20 flex h-[80px] justify-between gap-3 px-6">
			<Navigation />
			<ThemeIcon />
		</header>

		<div
			class="mx-auto max-w-[1280px]"
			class:list={[
				{ '!max-w-full': width === 'full' },
				{ 'px-6': currentPath !== '/' },
				{ 'py-16': currentPath !== '/' },
			]}
		>
			<!--      display: flex;-->
			<!--      flex-direction: column;-->
			<!--      position: fixed;-->
			<!--      top: 50%;-->
			<!--      left: 45px;-->
			<!--      transform: translateY(-50%);-->
			<!--      row-gap: 15px;-->
			<!--      z-index: 100;-->
			<ul
				class="fixed right-8 top-[50%] z-10 flex -translate-y-1/2 transform flex-col gap-5 max-xs:hidden"
			>
				{
					socialLink.map(({ link, icon, customClasses, label }) => {
						return (
							<li class="hover:text-accent">
								<a href={link} target="_blank" rel="noreferrer" title={label}>
									<Icon
										class="text-muted"
										name={icon}
										size={24}
										class:list={[customClasses]}
									/>
								</a>
							</li>
						);
					})
				}
			</ul>
			<slot />
		</div>
		<slot name="footer">
			<Footer links={socialLink} />
		</slot>
		<script>
			window.addEventListener('load', function () {
				scrollFunction();
			});

			window.addEventListener('scroll', () => {
				scrollFunction();
			});

			function scrollFunction() {
				const nav = document.querySelector('header');
				if (!nav) return;
				if (document.documentElement.scrollTop > 0) {
					nav.classList.add('top-nav-shadow');
				}

				if (document.documentElement.scrollTop === 0) {
					nav.classList.remove('top-nav-shadow');
				}
			}
		</script>
		<style lang="scss">
			.top-nav-shadow {
				@apply shadow-xl;
				@apply backdrop-blur;
			}
		</style>
	</body>
</html>
